amqp==5.3.1
asgiref==3.12.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
coverage==7.16.0
cron-descriptor==1.4.5
Django==6.0.8
django-celery-beat==2.9.0
django-environ==0.14.0
django-filter==26.1
django-timezone-field==7.2.2
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
factory_boy==3.3.3
Faker==40.38.0
gunicorn==26.2.0
inflection==0.5.1
iniconfig==2.3.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
packaging==26.3
pluggy==1.6.0
prompt_toolkit==3.0.53
psycopg==3.3.5
psycopg-binary==3.3.5
Pygments==2.21.0
PyJWT==2.13.0
pytest==9.1.1
pytest-cov==7.1.0
pytest-django==4.14.0
python-crontab==3.4.0
python-dateutil==2.9.0.post0
PyYAML==6.0.3
redis==6.4.0
referencing==0.37.0
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.6.0
tzdata==2026.3
tzlocal==5.4.4
uritemplate==4.2.0
vine==5.1.0
wcwidth==0.8.3
django-cors-headers
